<div class="userform col-lg-6 col-lg-offset-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <fieldset>
  <legend>Sign Up</legend>

  <div class="form-group">
    <%= f.label :username, class: ["control-label", "col-lg-2"] %>
    <div class="col-lg-10">
      <%= f.text_field :username, autofocus: true, class: "form-control" %>
      
      <div class="help-block">
        <%= content_tag :em, "Username already taken.", id: "sign-up-error-username", class: "danger", hidden: true %>
        <%= content_tag :em, "Username available.", id: "sign-up-error-username-success", class: "success", hidden: true %>
        <%= content_tag :em, "Checking availability...", id: "sign-up-error-username-availability", class: "info", hidden: true %>
        <%= content_tag :em, "Username may only contain alphanumeric characters.", id: "sign-up-error-username-invalid", class: ["warning", "message-right-justify"], hidden: true %>
        <span>&nbsp;</span>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :ign, class: ["control-label", "col-lg-2"] %>
    <div class="col-lg-10">
      <%= f.text_field :ign, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Friend Code", class: ["control-label", "col-lg-2"] %>
    <div class="col-lg-10">
      <%= f.text_field :friend_code, placeholder: "0000-0000-0000", class: "form-control" %>

      <div class="help-block">
        <%= content_tag :em, "Friend code invalid or missing.", id: "sign-up-error-friend-code", class: "danger" %>
        <%= content_tag :em, "Friend code valid.", id: "sign-up-error-friend-code-success", class: "success", hidden: true %>
        <span>&nbsp;</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: ["control-label", "col-lg-2"] %>
    <div class="col-lg-10">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", data: {:min_length => @minimum_password_length} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :confirm_password, class: ["control-label", "col-lg-2"] %>
    <div class="col-lg-10">
      <%= f.password_field :confirm_password, autocomplete: "off", class: "form-control" %>

      <div class="help-block">
        <% if @minimum_password_length %>
          <%= content_tag :em, "#{@minimum_password_length} characters minimum.", id: "sign-up-error-length", class: "warning" %>
        <% end %>
        <%= content_tag :em, "Passwords do not match.", id: "sign-up-error-match", class: "danger", hidden: true%>
        <span>&nbsp;</span>
      </div>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= button_tag "Cancel", type: :reset, class: ["btn" ,"btn-default"]  %>
      <%= f.submit "Sign up", id: "sign-up-submit", class: ["btn", "btn-primary"], disabled: true %>
    </div>
  </div>
  
  </fieldset>
<% end %>
<%= render "devise/shared/links" %>
</div>


