<!DOCTYPE html>

<html>
<head>
    <% javascript_include_tag "pokesprite.js" %>
    <% stylesheet_link_tag "pokesprite.scss" %>
    <% stylesheet_link_tag "types.scss" %>
</head>

<body>
    <div class="panel panel-default">
      <div class="panel-heading">
          <%= "#{@user.username}'s Pokemon"%>
      </div>
      <div class="panel-body">
        <div style="height: 100px; width: 100px; float: left; background-color: white; margin-right: 20px;"></div>
        <%= "FC: #{@user.friend_code}" %><br>
        <%= "IGN: #{@user.ign}" %><br>
        <%= "Trainer ID: #{@user&.trainer_id}" %>
        <%= image_tag "pokemon-sun-logo.png", height: 100, width: 100 %>
      </div>
    </div>
    <%= render "pokemons/pokemon_list" %>
</body> 

<script>
    PkSpr.process_dom();
    $("[data-toggle='tooltip']").tooltip();
</script>
</html>
