<!DOCTYPE html>
<html>
  <head>
    <% content_tag :title, "Poke-Plaza" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% favicon_link_tag %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Poke-Plaza", root_path, class: "navbar-brand" %>
        </div>
    
        <div class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "My Pokemon", user_path(current_user) %></li>
            </ul>
          <% end %>
          
          <% unless user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign up", new_registration_path(:user) %></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Log in", new_session_path(:user) %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to("Log out", destroy_user_session_path, method: :delete) %></li>
            </ul>
          <% end %>
          
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bulbasaur">
            </div>
            <button type="submit" class="btn btn-default">Find Trade</button>
          </form>
        </div>
      </div>
    </nav>
    
  	<% if notice %>
  	  <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= content_tag :p, notice, :class => "notice" %>
      </div>
    <% end %>
  	
  	<% if alert %>
  	  <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= content_tag :p, alert, :class => "alert" %>
      </div>
    <% end %>
  	
    <%= yield %>
  </body>
</html>
