<!DOCTYPE html>
<html>
  <head>
    <title>PokePlaza</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% favicon_link_tag "pokeball.ico" %>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        
      </div>
    </nav>
    
  	<%= content_tag :p, notice, :class => "notice" if notice %>
  	<%= content_tag :p, alert, :class => "alert" if alert %>
  	
    <%= yield %>
  </body>
</html>
